html {
  scroll-behavior: smooth;
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

/* Navbar */

.logo {
  font-family: "Satisfy", cursive;
  text-decoration: none;
  padding-left: 20px;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

header img {
  width: 48px;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: 1.5em;
  font-size: 14px;
  animation: fade-in-left 1s 1 0s linear;
}

header li:hover {
  background-color: #ac0000;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
}

/* Animations */
@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Navbar Responsiveness */

/* Tablet + */
@media only screen and (min-width: 636px) {
  .menu {
    display: none;
  }
}

/* Mobile */
@media only screen and (max-width: 635px) {
  header ul {
    display: none;
  }
  .menu {
    cursor: pointer;
    position: absolute;
    right: 20px;
    padding: 0.5em;
    margin: 10px;
  }
}

/* Hamburger Menu Toggle */
.menu-click .wrapper-nav {
  height: 300px;
  transition: height 2s;
}

.menu-click ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  margin-right: auto;
}

/* Landing Section */

#landing {
  background: url("./images/night-landscape-landing.jpg") center center
    no-repeat;
  background-size: cover;
  height: 110vh;
  min-height: 300px;
  padding-top: 50px;
  width: 100%;
}

.wrapper-landing {
  text-align: center;
  animation: fade-in 2.5s 1 0s linear;
}

.wrapper-landing h1 {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.btn {
  background-color: #ac0000;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
}

/* About Me Section */
#aboutme {
  background-color: #e3e3e3;
  height: 110vh;
  padding-top: 50px;
}

.wrapper-aboutme {
  text-align: center;
}

.aboutme-header {
  background-color: #ac0000;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 40px;
}

.wrapper-aboutme h3,
.wrapper-aboutme h4 {
  font-size: 35px;
  animation: fade-in 1s 1 0s linear;
}

.wrapper-aboutme li {
  font-size: 20px;
}
.skill-list {
  font-size: 30px;
  margin-bottom: 30px;
}

/* Tablet + */
@media only screen and (max-width: 800px) {
  .wrapper-aboutme h3 {
    font-size: 25px;
  }
  .skill-list {
    font-size: 25px;
  }
}

/* Portfolio Section */
h3 {
  color: #ac0000;
}

#portfolio {
  background-color: white;
  margin-bottom: 70px;
}

.wrapper-portfolio {
  text-align: center;
}
.wrapper-portfolio h2 {
  font-size: 50px;
  color: #ac0000;
}

.p-btn {
  border: 3px solid #ac0000;
  color: #ac0000;
  border-radius: 30px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  margin: auto 5px auto 5px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.p-btn:hover {
  background-color: #ac0000;
  color: white;
}

.p-btn.active {
  background-color: #ac0000;
  color: white;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;
}

.card {
  background-color: #e3e3e3;
  padding: 15px;
  margin: 10px;
  display: inline-block;
}

.card-title {
  font-size: 26px;
  font-weight: bold;
  color: #ac0000;
  padding-bottom: 10px;
}

.card img {
  width: 100%;
}

.disabled {
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  background-color: grey;
}

.icon {
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.icon:hover {
  background-color: #ac0000;
  cursor: pointer;
}

/* Responsiveness */
@media only screen and (max-width: 1200px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .card-wrapper {
    grid-template-columns: 1fr;
  }
}
